<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>inserting in database</h1>

    <form action="/nextp" method="post" >
    <input type="text" name="is11" placeholder="1st numm" class="ipp" id="ittid1" style="opacity: 1;"><br /> <br />
      <input type="text" name="ic1" placeholder="2nd numm" id="ittid2" style="opacity: 1;"> <br /><br />
      <!-- <input type="text" name="n33" placeholder="2nd numm" id="ttid3" style="opacity: 0;"> <br /><br /> -->
      <input type="text" name="ir11" placeholder="2nd numm" id="ittid2" style="opacity: 1;"> <br /><br />
      <input type="text" name="iccd" placeholder="2nd numm" id="ittid2" style="opacity: 1;"> <br /><br />


   <p> selected Region: <%= regnamep  %> </p>

   <br/>
   <br/>
   <br/>




   <% usl.forEach( users=>{ %>
    <p>mapdata =  <%= users.map_data %> </p>
    <p>chartsdata = <span id="cgg"> <%= users.charts_data %> </span> </p>
    <p>chartsdata........ = <%= users.cala_n %> </p>
    <p>people without= people = <%= people %> </p>
    <br/>
    <p id="cff">people== <%= people.join(", "); %> </p>
    <p style="color: red">chartlabel=........ = <%= users.chart_lab %> </p>
    
    <p>slider........ = <%= users.slider %> </p>
    
    
    <p>for loop for charts data</p>
    
    <p>for loop ends=== <%= users.charts_data %></p>
    
    
    <p id="cff1"></p>
    
    <% }) %>

      <button>add data</button>
</form>
</body>
</html>